<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>xinco</display-name>
    <!--Comment if not using H2 database-->
    <context-param>
        <param-name>db.url</param-name>
        <param-value>jdbc:h2:file:Xinco/data/xinco;CREATE=TRUE;LOCK_TIMEOUT=10000;AUTO_SERVER=TRUE</param-value>
    </context-param>
    <context-param>
        <param-name>db.user</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>db.password</param-name>
        <param-value/>
    </context-param>
    <listener>
        <listener-class>org.h2.server.web.DbStarter</listener-class>
    </listener>
    <!--End of H2 database exclusive settings-->
    <filter>
        <description>Make GB2312\GBK or others to UTF-8 for chineese character support</description>
        <filter-name>SetCharacterEncodingFilter</filter-name>
        <filter-class>com.bluecubs.xinco.core.server.filter.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>SetCharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>VaadinApplication</servlet-name>
        <servlet-class>com.vaadin.terminal.gwt.server.ApplicationServlet</servlet-class>
        <init-param>
            <param-name>application</param-name>
            <param-value>com.bluecubs.xinco.core.server.vaadin.Xinco</param-value>
        </init-param>
        <init-param>
            <param-name>widgetset</param-name>
            <param-value>Xinco</param-value>
        </init-param>
        <init-param>
            <param-name>log4j-properties-location</param-name>
            <param-value>WEB-INF/classes/log4j.properties</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Xinco</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>VaadinApplication</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Xinco</servlet-name>
        <url-pattern>/Xinco</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <mime-mapping>
        <extension>wsdl</extension>
        <mime-type>text/xml</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>xsd</extension>
        <mime-type>text/xml</mime-type>
    </mime-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jws</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <description>Xinco DB Connection</description>
        <res-ref-name>jdbc/XincoDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <context-param>
        <description>Vaadin production mode</description>
        <param-name>productionMode</param-name>
        <param-value>true</param-value>
    </context-param>
</web-app>
