/XincoWebApp/dist/
/XincoExplorer/dist/
/XincoWebApp/build/
/XincoWebApp/.idea/
/XincoWebApp/XincoWebApp.iml
/Xinco/.idea/

XincoWebApp/nbproject/private/

Xinco/build/

Xinco/dist/lib/

Xinco/dist/

Xinco/nbproject/private/

XincoExplorer/build/

XincoLibs/.DS_Store

.DS_Store
